@media only screen and (max-width: 600px) {
  .description {
    display: none;
  }
}

.event-name {
  color: var(--primary-color);
}

li > i {
  color: var(--primary-color);
}

.col-7 {
  padding-right: 0;
}

/* .details {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */
