* {
  box-sizing: border-box;
}

/* SPECIFY COLOR SCHEME */
:root {
  --primary-color: #00999e;
  --accent-color: #f5907c;
}
/* Underdog colors  */
/* :root {
  --primary-color: #04244c;
  --accent-color: #ffcb05;
} */

/* for testing purposes  */

.test {
  border: 2px solid red;
}

.test2 {
  border: 2px solid blue;
}

/* main  */

html,
body {
  margin: 0;
  font-family: -apple-system, "Open Sans", BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
