* {
  box-sizing: border-box;
}

/* SPECIFY COLOR SCHEME */
:root {
  --primary-color: #04244c;
  --accent-color: #ffcb05;
}

body {
  margin: 0;
  font-family: -apple-system, "Open Sans", BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
