/* fixes navbar to the bottom */

.nav-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* navbar color */
.navbar-light {
  background-color: #dddddd !important;
}
